@page "/"

@using StellarForge.Client.Components
@using StellarForge.Client.Services
@using StellarForge.Client.Services.Interfaces
@using StellarForge.Shared.Models
@using StellarForge.Shared.Services.Interfaces

@inject IGameStateService Game
@inject GameLoopService GameLoop
@inject ISaveService SaveService

<h1>🌌 Stellar Forge</h1>

<ResourceDisplayer/>

<button class="btn btn-primary" @onclick="Mine">⛏️ Mine Titanium (+5)</button>
<button class="btn btn-success" @onclick="Save">💾 Save Game</button>


@code {
    protected override void OnInitialized()
    {
        GameLoop.OnTick += OnTick;
    }

    private void OnTick() => InvokeAsync(StateHasChanged);

    private void Mine() => Game.Add(ResourceType.Titanium, 5);

    public void Dispose() => GameLoop.OnTick -= OnTick;

    private async Task Save()
    {
        await SaveService.SaveGameAsync();
    }
}
